:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-header {
    grid-area: sidebar-header;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-content {
    grid-area: sidebar-content;
    padding: 1.2rem;
    flex: 1;
}
